body{
  margin:40px auto;
  max-width:850px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  background-color:#eee;
  padding:0 10px
}
p{
  text-align: justify;
  text-justify: inter-word;
}
h1,h2,h3{line-height:1.2}
